                {%- for action in record_actions %}

                <a class="btn btn-mini" href="{{ "{{ path('"~ route_name_prefix ~"_"~ action ~"', { 'id': entity.id }) }}" }}">
{% if action == 'edit' %}                    <i class="icon-pencil"></i>{% endif %}
{% if action == 'show' %}                    <i class="icon-eye-open"></i>{% endif %}

                    {{ "{{ '" ~ action ~ "'|trans }}" }}
                </a>

                {%- endfor %}

